footer {
      box-shadow: 0 -0.5rem 1.5rem rgba(0, 0, 0, 0.1);
      position: relative;
      width: 100%;
      height: auto;
      padding: 50px 100px;
      background-color: white;
      font-size: medium;
}

footer .container-footer {
      width: 100%;
      display: grid;
      grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
      grid-gap: 20px;
}

footer .container-footer img {
      width: 80px;
      align-items: center;
}

footer .container-footer .sec h2 {
      position: relative;
      color: #333;
      font-weight: 600;
      margin-bottom: 15px;
}

footer .container-footer .sec p {
      color: #555;
}

footer .container-footer .sci {
      margin-top: 20px;
      display: grid;
      grid-template-columns: repeat(4, 50px);
}

footer .container-footer .sci li {
      list-style: none;
}

footer .container-footer .sci li a {
      display: inline-block;
      width: 46px;
      height: 46px;
      display: grid;
      align-content: center;
      justify-content: center;
      text-decoration: none;
}

footer .container-footer .sci li a i {
      color: #333;
      font-size: 30px;
      column-gap: 30px;
}

footer .container-footer .f-links {
      position: relative;
}

footer .container-footer .f-links ul li {
      list-style: none;
}

footer .container-footer .f-links ul li a {
      color: #555;
      text-decoration: none;
      display: inline-block;
      margin-bottom: 10px;
}

footer .container-footer .f-contact .f-info {
      position: relative;
}

footer .container-footer .f-contact .f-info li {
      display: grid;
      grid-template-columns: 30px 1fr;
      margin-bottom: 16px;
}

footer .container-footer .f-contact .f-info li span {
      color: #555;
      font-size: 1.2rem;
}

footer .container-footer .f-contact .f-info li a {
      color: #555;
      text-decoration: none;
}

.copyrigthText {
      width: 100%;
      background-color: #fff;
      padding: 30px 100px 30px;
      text-align: center;
      color: #555;
      border: 1px solid rgba(0, 0, 0, 0.15);
}

.copyrigthText p {
      font-size: 1.3rem;
}

@media (min-width:1920px) {
      footer .container-footer {
            width: 100%;
            display: grid;
            grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
            grid-gap: 20px;
      }
}

@media(max-width:991px) {
      footer {
            padding: 40px;
      }

      footer .container-footer {
            width: 100%;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 20px;
      }

      .copyrigthText {
            padding: 20px 40px 30px;
      }
}

@media(max-width:768px) {
      footer .container-footer {
            width: 100%;
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            grid-gap: 20px;
      }
}

@media(max-width:653px) {
      footer {
            padding: 50px;
            font-size: 12px;
      }

}