@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

:root {
      --celeste: #E8F8FB;
      --white: #fff;
      --light-color: #666;
      --box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
      --main-color: #ff9f0f;
      --primary-color: #12c2b9;
      --black-color: hsl(220, 24%, 12%);
      --black-color-light: hsl(220, 24%, 15%);
      --black-color-lighten: hsl(220, 20%, 18%);
      --white-color: #fff;
      --body-color: hsl(220, 100%, 97%);
      --headline-color: #1b3358;
      --nav-color: #E8F8FB;
      --active-color: rgb(144, 5, 5);
      --text-color: #000000;
      --portada-color: #fff;
      --main-color: #ff9f0f;
      --botton-color: #49BCD8;

      --h1-font: 6rem;
      --h2-font: 3rem;
      --p-font: 1rem;
}


* {
      font-family: 'Poppins', sans-serif;
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      outline: none;
      border: none;
      text-decoration: none;
      transition: all .2s linear;
      list-style: none;
}

html {
      font-size: 62.5%;
      overflow-x: hidden;
      scroll-behavior: smooth;
}

section {
      padding: 3rem 7%;
}

body {
      overflow: hidden;
}

/** LOADING*/
.loader-container {
      position: relative;
      background: #fff;
      z-index: 99999999999;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100vh;
      text-align: center;
      flex-direction: column;
}

.loader {
      z-index: 1000000000000000;
      width: auto;
      padding: 10px;
      font-weight: bold;
}

.loader img {
      width: 200px;
      height: 200px;
}

.loader p {
      border-bottom: 3px solid var(--botton-color);
}

.loading-text {
      text-shadow: 0 0 5px var(--headline-color);
      animation: glow 3s infinite alternate;
      font-size: 3.1rem;
      margin-top: 20px;
      font-style: italic;
      color: var(--headline-color);
}

@keyframes glow {
      0% {
            text-shadow: 0 0 5px var(--headline-color);
      }

      100% {
            text-shadow: 0 0 10px var(--headline-color);
      }
}


/**MODAL*/
.wrapper {
      z-index: 100;
      position: fixed;
      bottom: 30px;
      left: 30px;
      width: 400px;
      background: #fff;
      padding: 25px 25px 30px 25px;
      border-radius: 15px;
      box-shadow: 1px 7px 14px -5px rgba(0, 0, 0, 0.15);
      text-align: center;
      border: 2px solid #1b3358;
}

.wrapper.hide {
      opacity: 0;
      pointer-events: none;
      transform: scale(0.8);
      transition: all 0.3s ease;
}

::selection {
      color: var(--headline-color);
      background: var(--celeste);
}

.wrapper img {
      max-width: 90px;
}

.contentModal header {
      font-size: 18px;
      font-weight: 600;
      color: var(--headline-color);
      margin-bottom: 12px;
      text-shadow: 0 4px 9px var(--headline-color);
}

.contentModal {
      margin-top: 10px;
}

.parrafo1 {
      color: #000000;
      margin: 5px 0 20px 0;
      font-size: 16px;
}

.buttons {
      gap: 20px;
      display: grid;
      align-items: center;
      font-size: 15px;
      justify-items: center;
      align-content: center;
      justify-content: center;
      display: flex;

}

.buttons button:hover {
      transform: scale(0.97);
}

.buttons .item {
      margin: 0 10px;
}

.hero__cta {
      text-decoration: none;
      color: #1e3c72;
      padding: 10px 30px;
      border: 1px solid;
      border-radius: 6px;
      display: inline-block;
      font-weight: 500;
      transition: background-color .3s;
}

.hero__cta:hover {
      background-color: #1e3c72;
      color: white !important;
}

.modal {
      z-index: 100000;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #111111bd;
      display: flex;
      opacity: 0;
      pointer-events: none;
      transition: opacity .6s .9s;
      --transform: translateY(-100vh);
      --transition: transform .8s;
}

.modal--show {
      z-index: 1000000;
      opacity: 1;
      pointer-events: unset;
      transition: opacity .6s;
      --transform: translateY(0);
      --transition: transform .8s .8s;
}

.modal__container {
      margin: auto;
      width: 90%;
      max-width: 600px;
      max-height: 90%;
      background-color: #fff;
      border-radius: 6px;
      padding: 3em 2.5em;
      display: grid;
      gap: 1em;
      place-items: center;
      grid-auto-columns: 100%;
      transform: var(--transform);
      transition: var(--transition);
}

.modal__container img {
      width: 150px;
}

.modal__title {
      font-size: 2.5rem;
      color: #1e3c72;
      text-align: center;
}

.modal__paragraph {
      margin-bottom: 10px;
      text-align: justify;
      color: rgb(75, 75, 75);
      font-size: 15px;
      text-align: center;
      margin-top: 15px;
}

.modal__img {
      width: 90%;
      max-width: 300px;
}

.modal__close {
      text-decoration: none;
      color: #fff;
      background-color: #1e3c72;
      padding: 1em 3em;
      border: 1px solid;
      border-radius: 6px;
      display: inline-block;
      font-weight: 900;
      font-size: 13px;
      transition: background-color .3s;
}

.modal__close:hover {
      color: #1b3358;
      background-color: #fff;
}


@media (max-width:800px) {
      .wrapper {
            bottom: 80px;
            left: 50px;
      }

      .modal__container {
            padding: 2em 1.5em;
      }

      .modal__title {
            font-size: 2rem;
      }
}

@media (max-width: 440px) {
      .wrapper {
            position: fixed;
            bottom: 80px;
            width: 300px;
            background: #fff;

      }

      .parrafo1 {
            font-size: 12px;
      }

      .content header {
            font-size: 16px;
      }

      .buttons {
            font-size: 12px;
      }

      .hero__cta {
            padding: 10px 15px;
      }
}

@media (max-width: 340px) {
      .wrapper {
            position: fixed;
            bottom: 80px;
            left: 20px;
            right: 25px;
            width: 280px;
            background: #fff;

      }
}

/*header*/
.header {
      position: absolute;
      width: 100%;
      left: 0;
      top: 0;
      z-index: 1;
      box-shadow: var(--box-shadow);
}

.container {
      margin: auto;
}

.header-main {
      background-color: #ffffff;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 15px 15px;
      border-radius: 4px;
}

.header .logo {
      padding: 0 15px;
      margin-left: 80px;
}

.header .logo a {
      font-size: 30px;
      text-transform: capitalize;
      color: var(--headline-color);
      font-weight: 600;
}

.header .logo i {
      margin-right: 20px;
}

.header .nav-menu {
      padding: 0 15px;
}

.header .menu>.menu-item {
      display: inline-block;
      margin-left: 30px;
      position: relative;
}

.header .menu>.menu-item>a {
      display: block;
      padding: 12px 0;
      font-size: 16px;
      color: var(--headline-color);
      text-transform: capitalize;
      font-weight: 600;
      transition: all 0.3s ease;
}

.header .menu>.menu-item>a .plus {
      display: inline-block;
      height: 12px;
      width: 12px;
      position: relative;
      margin-left: 5px;
      pointer-events: none;
      color: var(--headline-color);
}

.header .menu>.menu-item>a .plus:before,
.header .menu>.menu-item>a .plus:after {
      content: '';
      position: absolute;
      box-sizing: border-box;
      left: 50%;
      top: 50%;
      background-color: var(--headline-color);
      height: 2px;
      width: 100%;
      transform: translate(-50%, -50%);
      transition: all 0.3s ease;
}

.header .menu>.menu-item:hover>a .plus:before,
.header .menu>.menu-item:hover>a .plus:after {
      background-color: var(--headline-color);
}

.header .menu>.menu-item>a .plus:after {
      transform: translate(-50%, -50%) rotate(-90deg);
}

.header .menu>.menu-item>.sub-menu>.menu-item>a:hover,
.header .menu>.menu-item:hover>a {
      color: var(--headline-color);
}

.menu2 {
      background-color: var(--body-color);
      padding: 0 20px;
      margin-left: 20px;
      border-radius: 40px;
}

.header .menu>.menu-item>.sub-menu {
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      width: 220px;
      position: absolute;
      left: 0;
      top: 100%;
      background-color: #ffffff;
      padding: 10px 0;
      border-top: 3px solid var(--headline-color);
      transform: translateY(10px);
      transition: all 0.3s ease;
      opacity: 0;
      visibility: hidden;
}

@media(min-width: 992px) {


      .header .menu>.menu-item-has-children:hover>.sub-menu {
            transform: translateY(0);
            opacity: 1;
            visibility: visible;
      }

      .header .menu>.menu-item-has-children:hover>a .plus:after {
            transform: translate(-50%, -50%) rotate(0deg);
      }
}

.header .menu>.menu-item>.sub-menu>.menu-item {
      display: block;
}

.header .menu>.menu-item>.sub-menu>.menu-item>a {
      display: block;
      padding: 10px 20px;
      font-size: 16px;
      font-weight: 600;
      color: #000000;
      transition: all 0.3s ease;
      text-transform: capitalize;
}

.header .open-nav-menu {
      height: 34px;
      width: 40px;
      margin-right: 15px;
      display: none;
      align-items: center;
      justify-content: center;
      cursor: pointer;
}

.header .open-nav-menu span {
      display: block;
      height: 3px;
      width: 24px;
      background-color: #000000;
      position: relative;
}

.header .open-nav-menu span:before,
.header .open-nav-menu span:after {
      content: '';
      position: absolute;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #000000;
      box-sizing: border-box;
}

.header .open-nav-menu span:before {
      top: -7px;
}

.header .open-nav-menu span:after {
      top: 7px;
}

.header .close-nav-menu {
      height: 40px;
      width: 40px;
      background-color: #ffffff;
      margin: 0 0 15px 15px;
      cursor: pointer;
      display: none;
      align-items: center;
      justify-content: center;
}

.header .close-nav-menu img {
      width: 16px;
}

.header .menu-overlay {
      position: fixed;
      z-index: 999;
      background-color: rgba(0, 0, 0, 0.5);
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      visibility: hidden;
      opacity: 0;
      transition: all 0.3s ease;
}


/* responsive */

@media(max-width: 991px) {
      .header .logo {
            padding: 0 15px;
            margin-left: 0;
      }

      .header .menu-overlay.active {
            visibility: visible;
            opacity: 1;
      }

      .header .nav-menu {
            position: fixed;
            right: -280px;
            visibility: hidden;
            width: 280px;
            height: 100%;
            top: 0;
            overflow-y: auto;
            background-color: var(--white);
            z-index: 1000;
            padding: 15px 0;
            transition: all 0.5s ease;
      }

      .header .nav-menu.open {
            visibility: visible;
            right: 0px;
      }

      .header .menu>.menu-item {
            display: block;
            margin: 0;
      }

      .header .menu>.menu-item-has-children>a {
            display: flex;
            justify-content: space-between;
            align-items: center;
      }

      .header .menu>.menu-item>a {
            color: var(--headline-color);
            padding: 15px 15px;
      }

      .header .menu>.menu-item:first-child>a {
            border-top: 1px solid #333333;
      }

      .header .menu>.menu-item>a .plus:before,
      .header .menu>.menu-item>a .plus:after {
            background-color: var(--headline-color);
      }

      .header .menu>.menu-item-has-children.active>a .plus:after {
            transform: translate(-50%, -50%) rotate(0deg);
      }

      .header .menu>.menu-item>.sub-menu {
            width: 100%;
            position: relative;
            opacity: 1;
            visibility: visible;
            border: none;
            background-color: transparent;
            box-shadow: none;
            transform: translateY(0px);
            padding: 0px;
            left: auto;
            top: auto;
            max-height: 0;
            overflow: hidden;
      }

      .header .menu>.menu-item>.sub-menu>.menu-item>a {
            padding: 12px 45px;
            color: var(--headline-color);
            border-bottom: 1px solid #333333;
      }

      .header .close-nav-menu,
      .header .open-nav-menu {
            display: flex;
      }

      .menu2 {
            padding: 0 20px;
            margin-top: 20px;
            border-radius: 0;
      }

      .menu2:hover {
            border-bottom: 2px solid var(--headline-color);
      }
}

header.sticky {
      position: fixed;
      z-index: 1;
}